<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email verification</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/b6699a1f2d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div id="container" class="p-4 rounded-md bg-white shadow-md"></div>
    <script type="module" src="/users/email-verification/main.js"></script>
  </body>
</html>
